<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-800 text-white p-10  gap-3">
        <div class="nav mb-10 text-blue-500">
             <a href="/read">Read</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Create User </h1>
        <form action="/create" method="post">
            <input class="px-4 py-3 outline-none rounded-lg bg-transparent border-2 border-zinc-900" type="text" placeholder="name" name="name">
            <input class="px-4 py-3 outline-none rounded-lg bg-transparent border-2 border-zinc-900" type="text" placeholder="email" name="email">
            <input class="px-4 py-3 outline-none rounded-lg bg-transparent border-2 border-zinc-900" type="text" placeholder="imageurl" name="image">
            <input type="submit" class="px-4 py-3 rounded-lg bg-blue-600 ml-3" value="Create User">
        </form>
    </div>
</body>
</html>